/*
 * Colors
 */

$darkgray: #1e2124;
$white: #adaeb0;
$lightgray: #36393e;
$accent: #233276;
$lightaccent: lighten(#233276, 20);

$border: 1px solid darken($white, 50);
/* Sections will be from left to right, top-bottom. */

// White text
@mixin wt() {
  color: $white !important;
}

// White fill
@mixin wf() {
  fill: $white !important;
}

// Dark background
@mixin db() {
  background-color: $darkgray !important;
}
@mixin wb() {
  background-color: white;
}

/* Weird classes*/

time._3oh- {
  color: $white !important;
}

// Top-Left Chat section settings window
._6-xk {
  @include db();
  h1 {
    @include wt();
  }
}

// PARENT CONTAINERS that should have whtie SVGs in them

._6-xk,
._3058 ._15gf,
._3tkv {
  svg path[d] {
    @include wf();
  }
}

._1t_p button svg path[d] {
  @include wf();
}

// The 'Reply To'
._67tw._1nc6.ellipsis {
  @include wt();
}

// The UI with delete/ edit for Reply To
._67tu {
  @include wt();
  button,
  strong {
    @include wt();
  }
}

// Search messages modal
._33p7 {
  @include db();
}

/* Settings modal */
._4eby {
  background: $darkgray !important;
  border-radius: 0px;

  // Various text inputs
  ._374c,
  ._19jt,
  ._6cs7,
  ._4ng2,
  ._6ct8,
  ._6ct9,
  ._6cs6,
  ._4ebz,
  ._4eb- {
    color: $white !important;
  }
  ._6ct7,
  ._6ct8 {
    color: $lightaccent !important;
    font-weight: bold;
  }
}

/* Lower section of nickname modal*/
._29hl ._5l37 {
  background: $darkgray !important;
  border-top: $border;
}

._5qsj {
  color: $white !important;
}

/* Search input */
._5iwm ._58al {
  background: $lightgray !important;
  color: $white !important;

  &::placeholder {
    color: $white !important;
  }
}

._23ct {
  filter: invert(100%);
}

/* Link description bg color */
._2ph_ {
  background-color: $accent !important;
}

/* Youtube Link description bg color */
._5swm {
  background-color: $lightgray !important;
}

._tih {
  border-radius: inherit;
  background-color: $lightgray;
}

/* Sidepanel border left */
._4_j5 {
  border-left: $border;
}

/* Link description text */
._5rw4 {
  color: darken($white, 15) !important;
  border-radius: inherit;
}

/* Messenger Header Bar*/
._36ic {
  background-color: $darkgray !important;
  color: $white !important;
  border-bottom: $border;
}

._673w {
  background-color: $darkgray !important;
  border-bottom: $border;
}

/* Messenger header bar border bottom I think */

/* Person's Bar */
._5742 {
  background-color: $darkgray !important;
  border-bottom: 1px solid #989c9f !important;
}

/* Timestamp */
._1ht7 {
  color: darken($white, 15) !important;
}

abbr._1ht7 {
  color: $white !important;
}

/* Person's Name */
._17w2 ._3oh- ._3egs{
  background-color: $darkgray !important;
  color: $white !important;
}

._3egs {
  background-color: $darkgray !important;
}

._3-9b { 
  color: $white !important;
}

// Person's Name POST2019CHANGES
._6ybk a {
  @include wt();
}

/* "Facebook Profile" Link */
a._3oh- {
  color: $white !important;
}

/* Text Inside Chat Bubble */
._3058._ui9._hh7._6ybn._s1-._52mr._3oh- span._3oh-._58nk, ._hh7 a {
  color: lighten($white, 15) !important;
}
._3058._ui9._hh7._6ybn._s1-._52mr._43by._6ybp._3oh- span, ._nd_ ._hh7 a {
  color: initial !important;
}

/* "Active On Messenger" */
._2v6o {
  color: $white !important;
}

/* Search Bar (background) */
._5iwm {
  background-color: $darkgray !important;
}
._58al._5iwm {
  background-color: gray !important;
}
/* Inner Search Bar */
._58ak {
  background-color: $darkgray !important;
}

/* Search Bar Placeholder Text */
._58al::placeholder {
  color: $lightgray !important;
}

/* Search - Group Result */
._225b {
  color: $white;
}
._3q34,
._3q35 {
  color: $white;
}

/* CONVERSATIONS */

/* Conversation List BG */
._4u-c._3_e8._9hq {
  background-color: $darkgray !important;
}

/* General Conversation Item */

._1ht1 {
  background-color: $darkgray !important;
  border-top: $border;
}

/* Current Conversation Item*/
._1ht2 {
  background-color: $darkgray !important;
}

._1ht1._1ht2 {
  background-color: $lightgray !important;
}

/* New Message Conversation alert */
._1ht3,
._1ht3._1ht1 {
  background-color: #002f4c !important;
}

/* Other Conversations */
._569x {
  background-color: $darkgray !important;
}

/* Current Conversation Photo */
/*_5l-3*/

// New Message Photo Profile photo
// ._5l-3._1ht1._1ht2 ._1qt3._5l-3:not(._55lt) {
//   // filter: invert(100%);
// }

/* Current Conversation Name */
._1ht6 {
  color: $white !important;
}

/* Current Conversation  */
._17w2 {
  background-color: $darkgray !important;
}

/* Current Conversation: Message Preview */
._1htf {
  color: gray !important;
}

/* Conversation Loading Bar */
._19hf {
  background-color: $lightgray;
}

/* MAIN MESSAGING SECTION */

._1t2u {
  border-left: $border;
}

/* New Messaging Person's Name */
._llq span._3oh- {
  color: $white !important;
}

._36zg,
._1n-e {
  color: $white !important;
}

// Group convo: user's name
._ih3 {
  color: $white;
}

// Attachment unavailable: bubble
._5i_d {
  background-color: transparent !important;
  // Attachment Unavailable
  .__6k {
    color: $white !important;
  }
  .__6l {
    color: $white !important;
  }
  .__6m {
    color: $white !important;
  }
}

/* Emoji Reactions */
._aou {
  background-color: grey;
  ._4kf5 {
    background-color: grey;
    color: $white;
  }
}

/* Emojis in main messaging section */
// ._1ifu {
//   padding: 10px;
// }

/* Emojis inside the emoji menu */
._5f0v._4pia ._1ifu {
  padding: 0 !important;
}

/* BG */
._4_j4 {
  .chatAttachmentShelf {
    border-top: $border;
  }
  background-color: $darkgray !important;
}

/* WRITE NEW MESSAGE */

/* Enter New Message BG */
._4rv3 {
  border-top: $border;
  background-color: $darkgray !important;
}

// New Message Placeholder
._kmc._7kpg ._1p1t {
  @include wt();
  -webkit-text-fill-color: $white;
}

// Write a new message to a person
._2y8y._5l-3 {
  background: $darkgray !important;
  ._2y8z {
    color: $white !important;
  }
  ._58al {
    color: $white !important;
    background-color: $darkgray;
  }
}

// Icon that use PNGs

._4rv6 {
  filter: invert(100%);
}

a._4ce_ {
  filter: invert(100%);
  opacity: 0.7;
}

/* Enter New Msg PlaceHolder Text */
._5rpu {
  color: $white !important;
}

/* SIDE PANEL */
/* BG */
._4_j5 {
  background-color: $darkgray !important;
}

/* Top section: Name; */
._3eur ._3oh- {
  color: $white !important;
}

/* Group name */
._2jnv {
  color: $white !important;
}

/* Top section: Last active status */
._3eus {
  color: $white !important;
}

/* Mute Notifications */
._3x6u,
._3szq {
  color: #a8adb0 !important;
}

/* People, Add People */
._1lj0,
._4rph ._4rpj {
  color: $white !important;
  border-top: $border;
}

/* People BG */
._5l37 {
  background-color: $darkgray !important;
}

/* People text */
._364g {
  color: $white !important;
}

/* Message White BG */
._29_7 ._hh7 {
  background-color: $lightgray;
}

/* Message from me BG */
// ._3i_m._nd_ ._3058._ui9._hh7._s1-._52mr {
//   background-color: $accent !important;
//   ._1ifu {
//     padding: 10px;
//   }
// }

/* Smiley */
._583a {
  background-color: none !important;
}

/* Mute Status */
._3x6v {
  color: #4f64ff !important;
}

/* "Facebook Profile" & "Shared Photos" Labels */
._3tl0 {
  color: $white !important;
}

// Dropdown search menu
._29hl div.clearfix {
  color: $darkgray !important;
  &:hover {
    background-color: $accent !important;
    color: $white !important;
  }
}

// When someone is typing
._17pz {
  background-color: $darkgray !important;
}

// Emoji window BG (TY @blakebuthod!)
._aou,
._4owc ._53ij {
  background: $lightgray!important;
}

// Area at the bottom of GIFS

._3i_m._nd_ ._2f5n._4br2._29ew {
  background-color: #223176 !important;
}
._29_7 ._2f5n._4br2._29ew {
  background-color: #35393d !important;
}
._2f5n._4br2._29ew span {
  color: #d4d4d6 !important;
}
._5irm._7mkm {
  @include db();
}

// Area in GIF selector before GIF loads
._1r_9 ._53ij {
  @include db();
}
// Arrow associated with GIF selector
._1r_9 ._53ik ._53io {
  filter: invert(85%);
}

// Search icon Bg on Sticker selector
._5r8a._5r8b {
  @include db();
}
// Search input form
._58al {
  background: transparent;
}

label._58ak._3ct8 {
  background-color: transparent !important;
}

// Sticker search input
._2pgc {
  background: $white !important;
}
// Active sticker category
._1uwz {
  background: $lightaccent;
}

// Feedback invitation in sidebar
._7ht_ {
  color: $white;
}

// Settings dropdown
._558b ._54ng {
  @include db();
  span {
    color: $white !important;
  }
}
// Arrow associated with Settings dropdown
._53il ._558b + ._53io {
  filter: invert(85%);
}

// Item in settings dropdown
._2i-c ._54ni:hover {
  background: lighten($darkgray, 10);
}

._3mts .uiScrollableArea.contentAfter:after {
  background: none;
  background: linear-gradient(rgba(255, 255, 255, 0.05), $darkgray) !important;
}

// Like emoji
._2poz._ui9._576q {
  svg {
    position: relative !important;
  }
  div {
    display: none !important;
  }
}

// Contact search
._8slc, ._225b._6ybl {
  color: $white;
}

// Chat title
h2 ._3oh- span , h2 ._3oh-{
  color: $white !important;
}

// Changing chat settings
span._3oh- span span span {
  color: $white; 
}

// Edit nickname input
._5j5f._3oh- {
  background-color: $lightgray;
}
